.profile__image_mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  color: #000000;
  transition: opacity .1s linear
}

.profile__image_mask:hover {
  opacity: 1;
}